<div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <div class="row">
        <div class="col">
            <p class="footer-topics">Windows OS (8.1 and above)</p>
            <ul class="list-unstyled text-small mt-3">
                <li><a class="footer-link" href="#">Chrome 72+</a></li>
                <li><a class="footer-link" href="#">Firefox 66+</a></li>
                <li><a class="footer-link" href="#">Edge 80+</a></li>
            </ul>
        </div>
        <div class="col">
            <p class="footer-topics">MAC OS (10.15 and above)</p>
            <ul class="list-unstyled text-small mt-3">
                <li><a class="footer-link" href="#">Chrome 72+</a></li>
                <li><a class="footer-link" href="#">Firefox 66+</a></li>
                <li><a class="footer-link ds-none" href="#">Edge 80+</a></li>
                <li><a class="footer-link" href="#">Safari 14.1+<span class="ds-none">(Please note that IMPACT is currently not optimised for use with the latest version of Safari, therefore please use Chrome instead for the moment.)</span></a></li>
            </ul>
        </div>
        <div class="col">
            <p class="footer-topics">Linux (Ubuntu 18.04 and above)</p>
            <ul class="list-unstyled text-small mt-3">
                <li><a class="footer-link" href="#">Chrome 72+</a></li>
                <li><a class="footer-link" href="#">Firefox 66+</a></li>
                <li><a class="footer-link ds-none" href="#">Edge 80+</a></li>
                <li><a class="footer-link ds-none" href="#">Safari 14.1+</a></li>
            </ul>
        </div>
    </div>
</div>