<h4 class="card-subtitle my-2 blue-text font-18px fw-600">Disclaimer</h4>
<p class="card-text">These proofs are for checking purposes only. They should not be considered as final publication format and must not be used for any other purpose. Please do not post them on your personal/institutional website, and do not print and distribute copies. Neither excerpts nor the whole article in its entirety should be included in other publications until the final version has been published and citation details are available.</p>
<div class="tranlate">
    <h4 class="card-subtitle my-2 blue-text font-18px fw-600 mb-3">Third Party Plug-Ins:</h4>
    <p>Using any third-party plug-in to translate the content or make any changes in the editor is not recommended as it might affect the content quality and the underlying metadata, which will delay publication.</p>
    <span class="blue-text fw-600 font-14px">Chinese Version:</span>
    <p>请不要使用任何第三方插件翻译或者修改编辑器中的内容，因为这样可能会影响内容质量和底层元数据，从而导致发表延迟。</p>
</div>
