<div class="card flex-row row">
    <div class="col-sm-12 col-md-5 col-lg-5 text-center cover_div" id="coverSectionNew"></div>
    <div class="col-sm-12 col-md-6 col-lg-6 pl-0 pt-3">
        <h5 class="txt-gray1 font-18px fw-600" id="vmaintitle"></h5>
        <h6 class="font-14px" id="title1"></h6>
        <h6 class="text-secondary font-13px mb-4" id="doi"></h6>
        <h5 class="txt-gray1 font-18px fw-600" id="headerlabel"></h5>
        <p class="card-text" id="title2"></p>
        <h6 class="text-secondary font-14px" id="authorname"></h6>
    </div>
</div>