<h4 class="blue-text font-18px fw-600">Instructions</h4>
<ul class="list-group mb-4">
    <li class="list-item">Review your proof carefully, making any necessary amendments directly into the reports/article.</li>
    <li class="list-item">Note that the images in IMPACT are low resolution to optimise the performance of the tool.</li>
    <li class="list-item">Submit the article when you have reviewed the entire report and resolved all author queries.</li>
    <li class="list-item">You will receive a copy of the proof with your changes tracked via email for your own records.</li>
    <li class="list-item">Upon submission of your corrections, you will be asked to complete a short survey on this proofing tool, the results of which will be used to inform future improvements. We appreciate your feedback.<br><br>
        <span class="list-item">If you need assistance with IMPACT, please review the <a class="blue-text font-weight-bold" title="Click to download the FAQs" href="javascript:iDownloadMethod.click('Help_FAQ_pdf', 'landing')">FAQs</a> and <a class="blue-text font-weight-bold" title="Click to download the User Guide" href="javascript:iDownloadMethod.click('Help_Guide_pdf', 'landing')">User Guide</a> here, or contact our support team at <a id="support_mail_id" class="font-weight-bold email-text" href="mailto:impact.helpdesk@newgen.co">impact.helpdesk@newgen.co</a>
    </li>
</ul>
${{disc_trans}}$
${{form_button_group}}$
