<h4 class="blue-text font-18px fw-600">Instructions</h4>
<ol class="list-group mb-4">
    <li class="list-item"><span class="fw-600">Proof for Review:</span> To access the article proof click "Agree and Continue" below.</li>
    <li class="list-item"><span class="fw-600">Respond to Queries:</span> Ensure all copyeditor's queries are addressed via "Queries" (left panel), or AQ symbols in the Editor View (centre panel).</li>
    <li class="list-item"><span class="fw-600">Edit Proof:</span> Make all required corrections to your article in the Editor View (centre panel).</li>
    <li class="list-item"><span class="fw-600">Proof for Layout:</span> Review the typeset proof layout (right panel) and instruct any layout-related corrections as comments in the Editor View (centre panel).</li>
    <li class="list-item"><span class="fw-600">Finalize:</span> To approve the proof and proceed with the article's publication select "Finalize" (top-right).</li>
</ol>
<h4 class="blue-text font-18px fw-600">Notes</h4>
<ul class="list-group mb-4">
    <li class="list-item">The images displayed in the Editor View are low resolution to optimise the performance of the tool. Please view the typeset proof layout to view images in high resolution.</li>
    <li class="list-item">The comment functionality allows you to provide instruction to the production editor or typesetting team to include the ability to supply files as attachments.</li>
    <li class="list-item">Post finalisation you will:
        <ul class="list-group mt-1">
            <li class="list-item">Receive a copy of the proof with your changes tracked via email for your own records.</li>
            <li class="list-item">Be requested to complete a short survey on the proofing tool, the results of which will be used to inform future improvements.</li>
        </ul>
    </li>
    <li class="list-item">For the smooth operation of our system, we recommend an internet connection speed of at least 10mbps.<br><br>
        <span class="list-item">If you need assistance with IMPACT, please review the <a class="blue-text fw-700" title="Click to view the Guided Tour" href="javascript:GuidedTourLanding();">Guided Tour</a>, <a class="blue-text fw-700" title="Click to download the FAQs" href="javascript:iDownloadMethod.click('Help_FAQ_pdf', 'landing')">FAQs</a>, <a class="blue-text font-weight-bold" title="Click to download the User Guide" href="javascript:iDownloadMethod.click('Help_Guide_pdf', 'landing')">User Guide</a>, and <a id="video_tour" class="blue-text font-weight-bold" title="Click to watch the Video Tutorial" href="" target="_blank">Video Tutorial</a> here, or contact our support team at <a id="support_mail_id" class="font-weight-bold email-text" href="mailto:impact.helpdesk@newgen.co">impact.helpdesk@newgen.co</a>
    </li>
</ul>
<h4 class="card-subtitle my-2 blue-text font-18px fw-600">Disclaimer</h4>
<p class="card-text">These proofs are for checking purposes only. They should not be considered as final publication format and must not be used for any other purpose. Please do not post them on your personal/institutional website, and do not print and distribute copies. Neither excerpts nor the whole article in its entirety should be included in other publications until the final version has been published and citation details are available. For further information, please see our online advice at</p>
<a rel="noopener" class="link my-5" target="_blank" href="https://academic.oup.com/pages/authoring/journals/production_and_publication/online_licensing">https://academic.oup.com/pages/authoring/journals/production_and_publication/online_licensing</a>
${{trans_only}}$
${{form_button_group}}$
