<h4 class="blue-text font-18px fw-600">Instructions</h4>
<ul class="list-group mb-4">
    <li class="list-item">Log in to IMPACT in a single browser window at a time (but if you would like your co-authors to review the article as well, please share it with them by selecting the sharing option in IMPACT).</li>
    <li class="list-item">Review your proof carefully, making any necessary amendments directly into the article.</li>
    <li class="list-item">Save your changes if you want to pause reviewing and use the logout option before closing the browser window. You may log in again later to resume reviewing using your log-in link.</li>
    <li class="list-item">Only finish your review in IMPACT when you are sure you have no additional changes to add as the review will be closed and not be accessible after reviewing has been completed.</li>
    <li class="list-item">Note that the images in IMPACT are low resolution to optimize the performance of the tool.</li>
    <li class="list-item">Submit the article when you have reviewed the entire article and resolved all author queries.</li>
    <li class="list-item">You will receive a copy of the proof with your changes tracked via email for your own records.<br><br>
        <span class="list-item">If you need assistance with IMPACT, please review the <a class="blue-text font-weight-bold" title="Click to download the FAQs" href="javascript:iDownloadMethod.click('Help_FAQ_pdf', 'landing')">FAQs</a> and <a class="blue-text font-weight-bold" title="Click to download the User Guide" href="javascript:iDownloadMethod.click('Help_Guide_pdf', 'landing')">User Guide</a> here, or contact our support team at <a id="support_mail_id" class="font-weight-bold email-text" href="mailto:impact.helpdesk@newgen.co">impact.helpdesk@newgen.co</a></span>
    </li>
</ul>
${{disc_trans}}$
${{form_button_group}}$
