<h4 class="blue-text font-18px fw-600">Instructions</h4>
<ul class="list-group mb-4">
    <li class="list-item">Take a thorough look at your proof and make any necessary modifications directly within the reports or article.</li>
    <li class="list-item">It should be noted that the images in OCT have a low resolution to enhance the performance of the tool.</li>
    <li class="list-item">Once you have reviewed the entire report and resolved all author queries, submit the article.</li>
    <li class="list-item">An email will be sent to you with a copy of the proof containing your tracked changes for your own records.</li>
    <span class="list-item">If you require any assistance with OCT, please refer to the FAQs and User Guide here or reach out to our support team at <a id="support_mail_id" class="fw-700 email-text" href="mailto:impact.helpdesk@newgen.co">impact.helpdesk@newgen.co</a></span>
</ul>
<h4 class="card-subtitle my-2 blue-text font-18px fw-600">Disclaimer</h4>
<p class="card-text">The proofs provided are intended solely for checking purposes and should not be regarded as the final publication format, nor should they be utilized for any other reason. It is crucial that they are not posted on personal or institutional websites or printed and distributed. Until the final version has been published and citation details are obtainable, no excerpts or the entire article in its entirety should be included in any other publications.</p>
<div class="tranlate">
    <h4 class="card-subtitle my-2 blue-text font-18px fw-600 mb-3">Third Party Plug-Ins:</h4>
    <p>Using any third-party plug-in to translate the content or make any changes in the editor is not recommended as it might affect the content quality and the underlying metadata, which will delay publication.</p>
    <span class="blue-text fw-600 font-14px">Chinese Version:</span>
    <p>请不要使用任何第三方插件翻译或者修改编辑器中的内容，因为这样可能会影响内容质量和底层元数据，从而导致发表延迟。</p>
</div>
${{form_button_group}}$

